@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.homecolor{
    background-color: black;
}
.resumepage{
  background-color: black;
}
.projectpage{
  background-color: rgb(7, 7, 7);
}

#date-div{
  color:rgb(11, 233, 100)
}
#dialog{
  color: orange;
  text-align: center;
  margin: auto;
}
/*-----------------------Navigation Button Style -------------------------------------------*/
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: monospace;
}
.navbar a {
    color: rgb(16, 233, 30);
    font-size: 20px;
    font-weight: 700px;
    text-decoration: none;
    margin-left:25px;
    padding: 10px;
}
  
.navbar a:hover {
    background-color: #f0f8f0;
    font-weight: 500px;
    color: black;
    text-decoration: none;
}
  
.navbar .menu-btn {
    display: none;
}
  
.line {
    width: 2px;
    height: 24px;
    display: inline-block;
    vertical-align: super;
    margin: 0 34px;
    background: #f0f0f0;
}
@media (max-width: 600px) {
    .navbar a {
        display: block;
        margin: 4px 0;
        font-size: 15px;
        padding: 6px;
        text-decoration: none;
    }
    .navbar .menu-btn {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .navbar .links {
        text-decoration: none;
        display: none;
    }
    .line {
        width: 2px;
        height: 24px;
        display: inline-block;
        vertical-align: super;
        margin: 0 34px;
        background: #f0f0f0;
    }
}

/*---------------------- Navigation Button End ----------------*/

/*---------------------- Home Section Starts ----------------*/

.container {
    position: relative;
    text-align: center;
    color: white;
}
.image{
    height: 100%;
    width: 100%;
    filter: blur(25px);
}
.centered h3{
    font-size: 26px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h2{
    font-size:90px;
    width: 450px;
    color: red;;
    font-weight: 600;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.random{
    font-size:50px;
    background-color: black;
    color: white;
    display:block;
    text-align:center;
    line-height:100px;
    height:100px;
    margin-top:-2vh;
    text-transform:uppercase;
    letter-spacing:4px;
}
@media (max-width: 576px){
    .centered h3{font-size: 16px;}
    .centered h2{font-size: 44px;}
}

#resume{
  margin-left: auto;
  background-color: crimson;
  border-color: green;
  border-radius: 10px;
}

/*---------------------- Home Section End ----------------*/
/*---------------------- Skill Section --------------------*/

.display-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }
  @media (max-width: 768px) {
    .display-2 {
      font-size: 2.4rem;
      font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
    }
    .skill-heading h2 {
      margin-bottom: 1rem;
    }
  }
 
  .skill-heading {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #ed0b0b;
  }
  @media (min-width: 767px) {
    .skill-heading .container {
      position: relative;
    }
    .skill-heading .row {
      margin: 0;
    }
    .skill-heading h2 {
      margin: 0;
    }
  }
  .features1{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(10, 182, 195);
    padding: 20px;
    text-align: center;
  }
  .features1 .color1{background-color: black;}
  .features1 .color2{background-color: grey;}
  .features1 .color3{background-color: white;}
  .features1 .color4{background-color: rgb(6, 231, 152);}
  .features1 .color5{background-color: white;}
  .features1 .color6{background-color: rgb(6, 231, 152);}
  .features1 .color7{background-color: black;}
  .features1 .color8{background-color: grey;}


  

  .features1_item {
    margin-top: 60px;
    padding: 45px 25px;
    text-align: center;
    
    cursor: pointer;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .features1_item img {
      margin-bottom: 35px; }
    .features1_item h4 {
      font-size: 20px;
      margin-bottom: 20px;
      color: Orange;
      text-transform: uppercase; }
    .features1_item li {
      margin-bottom: 0px;
      text-align: left;
      color: rgb(9, 228, 244);
     }
  
    .features1_item:hover {
      box-shadow: 5px 0px 15px 20px orange;
      background: black;
    }
  
      .features1_item img{
        width: 100%;
        background-color: "";
      }
 
/*--------------------- Skill Section End ----------------*/

/*--------------------- About Section --------------------*/
.a-body{
  min-width: 100%;
  min-height: 100%;
  margin-top: 160px;
}
.a-body img{
  margin-top: 80px;;
}
.a-body h1{
  margin-top: 140px;;
}
.a-body p{
  margin-top: 50px;;
}
.progress {
  position: relative;
  overflow: inherit;
  height: 6px;
  margin: 30px 0px 15px;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
}

.progress .progress-bar {
  height: 6px;
  background: #009b72;
  border-radius: 10px;
}

.progress .progress-bar-title {
  position: absolute;
  left: 0;
  top: -30px;
  color: #818181;
  font-size: 16px;
}

.progress .progress-bar-number {
  position: absolute;
  right: 0;
  color: #888888;
  top: -30px;
  font-weight: 600;
  font-size: 14px;
}

.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.font-weight-normal {
  font-weight: 500 !important;
}
.w-25 {
  width: 25% !important;
}
.text-muted {
  color: #b2b2b2 !important;
}
.mr-1, .mx-1 {
  margin-right: 0.625rem !important;
}
/*--------------------- About Section End ----------------*/

/*---------------------- Contact Section ----------------------*/
.content-banner{
  min-width: 100%;
  min-height: 100%;
  margin-top: 60px;
}

.content-banner h1{
  font-size: 56px;
  margin-top: 150px;
}
.contact-us {
  text-align: center;
}
.contact-us .link-item {
  display: inline-block;
  border: 1px solid #0c9e2e;
  text-decoration: none;
  height: 80px;
  width: 250px;
  line-height: 80px;
  margin-top: 130px;
  margin-right: 24px;
  border-radius: 6px;
  margin-bottom: 48px;
}

.contact-us .link-item span {
  color: #0eed55;
  font-size: 18px;
  text-decoration: none;
}
.contact-us .link-item:last-of-type {
  margin-right: 0;
}
.contact-us .link-item:hover span {
  color: #fe4066;
  text-decoration: none;
}
.contact-us a{
  text-decoration: none;
  color: red;
}
.contact-us .line {
  width: 2px;
  margin-top: 50px;
  height: 20px;
  background: #f0f0f0;
}
.contact-us .img-item {
  display: inline-block;
  text-decoration: none;
  height: 80px;
  width: 24px;
  line-height: 30px;
  margin-right: 24px;
  border-radius: 6px;
  
}

@media (max-width: 576px){
  .content-banner h1{font-size: 26px;}
  .contact-us .line{
    margin-bottom: 150px;
  }
  .contact-us .link-item span {font-size: 14px;}
  .contact-us .link-item {width: 200px; height: 50px; line-height: 40px; margin-top: 50px; margin-bottom: -100px;}
}
/*---------------------- Contact Section End -------------------*/
/*----------------------- Slideshow -----------------------------*/

.try-body {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}
.head1 {
  text-align: center;
  padding: 22px;
  background-color: red;
}
.head1 h1{
  color:#f0f0f0;
  font-size: 50px;
  font-weight: 900px;
  font-family: monospace;
}

.row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col1 {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.col1 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .col1 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .col1 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*----------------------- Slideshow End-------------------------*/

/*-------------------- Footer Area -----------------------------*/
.footer {
    background-color: black;
    color: #9d9d9d;
    font-family: monospace;
    padding: 20px 0;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
}
  
.footer-left, .footer-center, .footer-right {
    width: 100%;
    text-align: center;
}
@media (max-width: 768px) {
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-left, .footer-center, .footer-right {
        width: 100%;
    }
}

/*-------------------- Footer Area End--------------------------*/
.resume-section{
  margin-top: 70px;
}
.resume-section .resume-item{
  background-color:#161616;
  border-left:2px solid transparent;
  padding:32px 48px;
  position:relative;
  border-left-color:#009e66
}

.resume-section .resume-item .item-arrow:after{
  background-color:#009e66;
  border:8px solid transparent;
  left:16px;
  content:"";
  display:block;
  position:absolute
}
.section-heading .page-heading{
  margin-bottom:83px;
  text-align:center;
}
.section-heading.page-heading>.animated-bar{
  background-color:#fff;
  content:'';
  display:block;
  height:4px;
  left:0;
  margin:0 auto 0 auto;
  position:relative;
  right:0;
  width:75px
}

.resume-section .col-block .experience {
  margin-left:20px;
}
.resume-section .col-title{
  font-size:26px;
  margin-bottom:20px;
}
.resume-section .resume-item:not(:last-child){
  border-bottom:1px solid #313131;
}
.resume-section .resume-item:last-child{
  margin-bottom:0;
}
.resume-section .resume-item .item-arrow{
  left:0;
  margin-top:2px;
  position:absolute;
}
.resume-section .resume-item .item-title{
  line-height:100%;
  margin-bottom:9px;
  color: rgb(0, 255, 76);
}
.resume-section .resume-item .item-details{
  display:inline-block;
  margin-bottom:7px;
}
.resume-section .resume-item .item-description{
  margin-bottom:0;
  color: rgb(218, 236, 243);
}
.resume-section .resume-item li{
  margin-bottom:0;
  color: rgb(234, 244, 248);
}
@media (max-width:767.98px){
  .resume-section .resume-item{
    padding-right:20px;
  }
  .resume-section .col-block.education,.resume-section .col-block.experience{
    margin-left:0;
    margin-right:0;
  }
  .resume-section .col-12:last-child .resume-item:last-child{
  margin-bottom:0;
}
.resume-section .col-12:first-child .resume-item:last-child{
  margin-bottom:60px;
}
}

/*----------------- Project Page section -----------------*/

.pro-body{
  background:#080808;
  margin-top:20px;
  color: red;
}
.card {
  border: none;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
  box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.avatar-xs {
  height: 2.3rem;
  width: 2.3rem;
}

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
  color: crimson;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: cyan;
}

/*----------------- Project Page section end -------------*/

/*----------------- In Progress section end -------------*/
.proheading{
  margin-top: 200px;
  font-weight: 500px;
  font-size: 60px;
  text-align: center;
  color: greenyellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 3px green;
}
.inprogress{
  margin-top:150px;
  padding: 0;
  min-height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.futureskill{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.futureskill .card{
  position: relative;
  cursor: pointer;
  background-color: black;;
}

.futureskill .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

/*--- Image background ----*/
.futureskill .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.futureskill .card:hover .face.face1{
  background: #10970e;
  transform: translateY(0);
}

.futureskill .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.futureskill .card:hover .face.face1 .content{
  opacity: 1;
}

.futureskill .card .face.face1 .content img{
  max-width: 100px;
}

.futureskill .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  text-decoration: none;
  color: rgb(19, 230, 26);
  text-align: center;
  font-size: 1.5em;
}
.futureskill .card .face.face1 .content a{
  text-decoration: none;
  color: rgb(19, 230, 26);
  
}

.futureskill .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.futureskill .card:hover .face.face2{
  transform: translateY(0);
}

.futureskill .card .face.face2 .content p{
  margin: 0;
  padding: 0;
  color: red;
}

.futureskill .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.futureskill .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}
/*----------------- In Progress section end -------------*/
