body{
    background-color: rgb(243, 236, 236);
}

a {
  color: #b80b0b;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
}



#header {
    height: 300px;
    margin: 0;
    background: #fdfdfd;
  }
  
  #header h1 {
    display: table;
    color: #999;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding: 50px 50px 0 50px;
    font-size: 55px;
  }
  
  #header p {
    display: table;
    color: #999;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
  }

/*-----------------------------------------------------------*/
.navbar-new-top{
  position: absolute;
  margin-top: 20%;
  background: #fff;
}
.navbar-brand{
  font-weight: 600;
}
.navbar-brand img{
  width: 20%;
}
.navbar-new-top ul{
  margin-right: 9%;
}
.navbar-new-top ul li{
  margin-right: 8%;
}
.navbar-new-top ul {
  margin-right: 9%;
}
.navbar-new-bottom{
  position: relative;
  background-color: #f7f7f7;
  box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
  border-top: 1px solid #e0e0e0;
  margin-top: 1%;
  height: 40px;
}
.navbar-new-bottom ul li{
  margin-left: 2%;
  margin-right: 2%;
}
.navbar-nav .nav-item a {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  transition: 1s ease;
}
.navbar-nav .nav-item a:hover{
  color: #0062cc;
}
.dropdown-menu.show{
  background: #f8f9fa;
  border-radius: 0;
}
.header-btn{
  width: 161%;
  border: none;
  border-radius: 1rem;
  padding: 8%;
  background: #0062cc;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/